<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wolfsoft3.dating_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".KwikListActivity" />
        <activity android:name=".Splash_Screen" />
        <activity android:name=".Login" />
        <activity android:name=".Make_Character" />
        <activity android:name=".Your_Look" />
        <activity android:name=".Its_You" />
        <activity android:name=".Find_Your_Match" />
        <activity android:name=".Match" />
        <activity android:name=".Romantic_Relationship" />
        <activity android:name=".Relationship" />
        <activity android:name=".Matches" />
        <activity android:name=".Plan" >

        </activity>
        <activity android:name=".Likes" />
        <activity android:name=".CarouselLinearLayout" />
        <activity android:name=".ImageDetailsActivity" />
        <activity android:name=".Your_Bedroom" />
        <activity android:name=".Invitation" />
        <activity android:name=".Looking_For_Romance" />
        <activity android:name=".Chat" />
        <activity android:name=".Map_and_Navigation" />
        <activity android:name=".Navigation_drawer" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFNnP_L1EQ2Sd4QHSRFH6gfn_XnwoSwFw" />

        <activity android:name=".Send_Invitation"></activity>
    </application>

</manifest>